.App {
  text-align: center;
}

.Logo {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
}

.topnav {
  background-color: #df0369;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #030102;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #000000;
  color: black;
}

.topnav a.active {
  background-color: #df0369;
  color: white;
}

/* hover mechanic styles*/
.active, .collapsible:hover {
  background-color: #ccc;
}

.searchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
}

.add-contact-button {
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  background-color: #db17cb;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding-right: 20px;
  right: 0;
  font-weight: 600;
}

.add-contact-button:hover {
  background-color: #b1d900;
}

/* Styling the collapsible content. */

.CustomButton {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 20px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 17px;
  font-weight: 700;
  box-sizing: border-box;
  width: calc(100% - 60px); 
  margin-left:30px;
}

/* hovering feature*/
.active, .CustomButton:hover {
  background-color: #ccc;
}

/* style for the content being presented and prepared for the animation*/
.CustomButton.Content {
  background-color: #f3c2f0;
  padding: 0px;
  border: 0px solid #f3c2f0;
  border-top: none;
  font-weight: 600;
  overflow: hidden;
  transition: height 0.01s;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  width: 0;
  height: 0;
}

/* in order to put some indentation for better appeal*/
.CustomButton.Content p{
  padding-left: 30px;
}

/* this allows me to add a opening/collapsing animation*/
.active.CustomButton.Content {
  max-height: 220px;
  width: calc(100% - 60px); 
  height:600px;
}

